.header-container {
  background-color: #141d39;
  color: #ffffff;
  padding: 30px 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}

.categories-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container {
  margin-right: 30px;
}

.input-field {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
}
